html {
    font-size: 20px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: 'Lora', serif; /* this should be the rest of the output you got from Google fonts */
    background-color: #00539F;
}

/* All h1 elements are pink */
h1 {
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: rgba(0, 0, 255, 0.692);
    text-shadow: 3px 3px 1px black;
}

/* All elements with the class "testClass" are strike through */
.testClass {
    text-decoration: line-through;
}

/* The element having id "testID" is shown uppercase with a particular font */
#testID {
    text-transform: uppercase;
    font-weight: bold;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    /* width: 800px; */
    width: 60%;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 3px solid black;
}

img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

/* Set full body height */
/* html, body {
    height: 100%;
} */

html {
    height: 100%;
}

body {
    min-height: 100%;
}
